@keyframes bounce-letters {
  0%,
  100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(
      -1.2rem
    ); /* Ajusta la altura del movimiento según tus preferencias */
  }
}

/* Aplicamos la animación a cada span */
.animate-bounce-letters {
  animation: bounce-letters 9s infinite; /* Duración de 9 segundos, repetición infinita */
  display: inline-block; /* Necesario para que transform funcione correctamente */
}

/* Agregamos un ligero retraso a cada letra para crear un efecto de onda */
.animate-bounce-letters:nth-child(2) {
  animation-delay: 0.2s;
}
.animate-bounce-letters:nth-child(3) {
  animation-delay: 0.4s;
}
.animate-bounce-letters:nth-child(4) {
  animation-delay: 0.6s;
}
.animate-bounce-letters:nth-child(5) {
  animation-delay: 0.8s;
}
.animate-bounce-letters:nth-child(6) {
  animation-delay: 1s;
}
.animate-bounce-letters:nth-child(7) {
  animation-delay: 1.2s;
}
.animate-bounce-letters:nth-child(8) {
  animation-delay: 1.4s;
}
.animate-bounce-letters:nth-child(9) {
  animation-delay: 1.6s;
}
