.projects-section {
  background-color: #f7f3ef;
  padding: 3rem 1rem;
}

.projects-title {
  color: #d3a569;
  margin-bottom: 2rem;
  text-align: center;
}

.my-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.my-slider::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


/* Estilos específicos para un slide en particular (ej. el segundo) */
.my-slider .tns-slide:nth-child(2) {
  background-color: #ffcc00; /* Cambia el fondo del segundo slide */
  border: 2px solid #000; /* Agrega un borde negro al segundo slide */
}

/* Estilos para el slide activo */
.my-slider .tns-slide-active {
  transform: scale(1.0); /* Escala el slide activo para destacarlo */
  transition: transform 0.3s ease; /* Añade una transición suave */
  
}

/* Estilos adicionales para un slide destacado (por ejemplo, el segundo) */
.highlight-slide {
  border: 3px solid #4caf50;
  background-color: #e0f7fa;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
